<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/style.css}" rel="stylesheet" />
</head>
<body>

<h2>Itemized Deductions Helper</h2>
<table>
    <tr>
        <td>Tax Payer Id:</td>
        <td th:text="${taxPayer.id}"></td>
        <td>, Filling Status:</td>
        <td th:text="${taxPayer.filingStatus.label}"></td>
    </tr>
</table>
<br/>
<table>
    <caption th:text="${medicalTitle}"></caption>
    <thead>
    <tr>
        <th>Year</th>
        <th>Institution</th>
        <th>Amount</th>
    </tr>
    </thead>
    <tr th:each="item : ${medicalItems}">
        <td th:text="${item.yearName}"></td>
        <td th:text="${item.institutionName}"></td>
        <td th:text="${item.amount}"></td>
    </tr>
    <tr>
        <td></td>
        <td>Gross Total</td>
        <td th:text="${medicalTotal}"></td>
    </tr>
    <tr>
        <td></td>
        <td>Adjusted Total (Enter in Line 4 of SCHEDULE A)</td>
        <td th:text="${medicalDeductibleTotal}"></td>
    </tr>
</table>

<br/>
<table>
    <caption th:text="${taxesPaidTitle}"></caption>
    <thead>
    <tr>
        <th>Year</th>
        <th>Institution </th>
        <th>Amount</th>
    </tr>
    </thead>
    <tr th:each="item : ${taxesPaidItems}">
        <td th:text="${item.yearName}"></td>
        <td th:text="${item.institutionName}"></td>
        <td th:text="${item.amount}"></td>
    </tr>
    <tr>
        <td></td>
        <td>Gross Total</td>
        <td th:text="${taxesPaidTotal}"></td>
    </tr>
    <tr>
        <td></td>
        <td>Adjusted Total (Enter in Line 7 of SCHEDULE A)</td>
        <td th:text="${taxesPaidDeductibleTotal}"></td>
    </tr>
</table>

</body>
</html>