<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/style.css}" rel="stylesheet" />
</head>
<body>
<h2>User Record Details</h2>
<th:block th:each = "taxPayer : ${taxPayers}">
    <p>TaxPayer Id: <span th:text="${taxPayer.id}">Id</span></p>
    <ul>
        <table class="table">
            <tr>
                <th>Year</th>
                <th>Institution Name</th>
                <th>Amount</th>
            </tr>
            <tr th:each = "medicalItem : ${taxPayer.medicalItems}">
                <td th:text="${medicalItem.yearName}" ></td>
                <td th:text="${medicalItem.institutionName}"></td>
                <td th:text="${medicalItem.amount}"></td>
            </tr>
            <tr th:each = "taxesPaidItem : ${taxPayer.taxesPaidItems}">
                <td th:text="${taxesPaidItem.yearName}" ></td>
                <td th:text="${taxesPaidItem.institutionName}"></td>
                <td th:text="${taxesPaidItem.amount}"></td>
            </tr>
        </table>
    </ul>
</th:block>

</body>
</html>
